@import "compass";

$background-color: #ccc;

body {
    background: $background-color;
    padding: 50px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    padding-top: 20px;
    @include single-text-shadow(magenta, 3px, 3px);
}
