/* line 5, /Users/darrinholst/Projects/dh/sass-java/src/test/sample-webapp/WEB-INF/sass/application.scss */
body {
  background: #cccccc;
  padding: 50px;
}

/* line 10, /Users/darrinholst/Projects/dh/sass-java/src/test/sample-webapp/WEB-INF/sass/application.scss */
h1 {
  font-size: 50px;
}

/* line 14, /Users/darrinholst/Projects/dh/sass-java/src/test/sample-webapp/WEB-INF/sass/application.scss */
h2 {
  font-size: 40px;
  padding-top: 20px;
  text-shadow: 3px 3px 1px magenta;
}
